<!-- soal 2 : Rata rata -->

<!-- Pengenalan VueJs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="appl">
        <button onClick="vm.openForm()">Open Form</button>
        <h1>{{ 'Nilai a : ' + a }}</h1>
        <h1>{{ 'Nilai rata rata : ' + nilaiRata }}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#appl',
            data: {
                a : 0 ,
                nilaiRata : 0 ,
               
            },
            methods : {
                openForm : function(){
                    var i = 0;
                    var nilaiTotal = 0.00;
                    while (nilaiTotal <= 10){
                        this.a = prompt("Masukkan nilai a ");
                        console.log(this.a)
                        i++;
                        nilaiTotal = nilaiTotal + parseFloat(this.a);                                                                  
                    }  
                    this.nilaiRata = nilaiTotal / i;
                }
            }
        })
    </script>
</body>
</html>