<!-- soal hari ke 12 ajax axios -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form @submit.prevent="submitForm()" background-color="blue" left=250px border=1px width=300px >
            <p v-if="errors.length">
                <b>Please correct the following errors :</b>
                <ul>
                    <li v-for="error in errors">{{  error  }}</li>
                </ul>
            </p>
            <label>Title : </label><br>
            <input type="text" name="title" ref="title" v-model="title"><br>
            <label>Description : </label><br>
            <textarea name="description" ref="discription" v-model="description"></textarea><br>
            <input type="submit" value="SUBMIT"><br>
        </form>

        <table v-for="blog of blogs" border=1px solid>
            <tr>
                <td>
                    Photo
                </td>
                <td>
                    Title : {{blogs.title }}
                </td>
                <td>
                    Aksi
                </td>
            </tr>
        </table>
    </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            var vm = new Vue ({
                el: '#app',
                data: {
                    title : '',
                    description : '',
                    errors : [],
                    blogs : [],
                   

                methods: {
                    submitForm : function(){
                        this.errors = []

                        if(this.title.length < 5){
                            this.errors.push('Title minimal 5 karakter')
                            this.$refs.title.focus()
                        }

                        if(this.description.length > 40){
                            this.errors.push('Description tidak boleh lebih dari 40 karakter')
                            this.$refs.title.focus()
                        }

                        if(this.error.length == 0){
                            alert('Anda telah mengisi data dengan benar')
                        }
                    },

                    getBlogs : function() {

                        const config = {
                            method : "get",
                            url : "http://demo-api-vue.sanbercloud.com/api/blog"
                        }

                        axios(config)
                          .then( (response) => {
                              this.blogs = response.data.blogs
                          })
                          .catch( (error) => {
                              console.log(error)
                          })
                    }

                }
            })

        </script>

</body>
</html>

