<!-- soal quiz 2 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
            <div id="app">
                <input type="text"  v-model:value="newOrang" />
                <button @click="addOrang" name="addButton">Add</button>
                <ul>
                    <li v-for="(item, index) in users" :key="item.id">
                        {{ item.name }} <button @click="editOrang(index)">Edit</button> | <button @click="deleteOrang(index)">Delete</button>
                    </li>
                </ul>
              </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                textOrang: "",
                users: [
                    {
                        'name' : 'Muhammad Iqbal Mubarok',
                    },
                    {
                        'name' : 'Ruby Purwanti',
                    },
                    {
                        'name' : 'Faqih Muhammad',
                    },
                ],
                              
            },
            methods: {
                addOrang : function() {
                    this.users.push({'name' : this.newOrang})
                    this.newOrang = "";
                },
                editOrang : function(index) {
                    this.addButton.value = users[index]
                    this.addOrang.text="Edit";
                },
                deleteOrang : function(index) {
                    this.users.splice(index, 1)
                }
            },
        })
    </script>
</body>
</html>