<!-- soal 9 dan 10. Membuat form untuk mencari suatu 
record dari suatu kata kunci -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form>
            <input type="text" name="textChar" ref="textChar" v-model="textChar" v-on:keyup="filterCharacter()" >
            <ul>
                <li v-for="booksFilter in booksFilter">{{  booksFilter  }}</li>
            </ul>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                textChar: "",
                books: [
                    'Kalkulus Dasar',
                    'Fisika Dasar',
                    'Aljabar Linier Elementer',
                    'Aljabar Abstrak',
                    'Algoritma Pemrograman'
                ],
                booksFilter: []                
            },
            methods: {
                filterCharacter : function() {
                    this.booksFilter = [];
                    for(var i = 0; i < this.books.length; i++){
                        if (((this.books[i].indexOf(this.textChar)) !== -1)){
                            this.booksFilter.push(this.books[i]);
                        }
                    }
                }
            },
        })
    </script>
</body>
</html>